<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <title>Girumshop - About Page</title>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome.css">
    <link rel="stylesheet" href="/templatemo-hexashop.css">
    <link rel="stylesheet" href="/owl-carousel.css">
    <link rel="stylesheet" href="/lightbox.css">
</head>
<body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/index" class="logo">
                            <img src="/images/logo.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/index">Home</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/single-product">Single Product</a></li>
                                    <li><a href="/contact">Contact Us</a></li>
                                </ul>
                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>About Our Company</h2>
                        <span>Welcome to Girum Cultural Cloth Shop! We offer a unique selection of cultural clothing for men, women, and kids. Discover quality and style in every piece.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="/images/about-left-image.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <h4>About Us &amp; Our Skills</h4>
                        <span>At Girum Cultural Cloth Shop, we celebrate tradition and style with our unique collection of cultural clothing for men, women, and kids. Our garments are crafted with care, showcasing vibrant designs and high-quality materials. Whether you're looking for traditional attire or cultural fashion, we have something special for every occasion. Experience the richness of culture and elegance in every piece at our shop.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p>Explore tradition, embrace style.</p>
                        </div>
                        <p>Our knowledgeable and friendly staff are here to help you find the perfect outfit, ensuring you feel confident and stylish. Join us in preserving cultural heritage through fashion and discover the beauty of cultural attire at Girum Cultural Cloth Shop.</p>
                        <ul>
                            <li><a href="https://x.com/girumassefa6"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/girum-assefa/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Our Team Area Starts ***** -->
    <section class="our-team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Amazing Team</h2>
                        <span>Our amazing team at Girum Cultural Cloth Shop is dedicated to providing exceptional service and expertise. With a passion for cultural fashion, we strive to offer personalized assistance and ensure every customer finds the perfect attire with a touch of cultural elegance.</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="https://x.com/girumassefa6"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/girum-assefa/"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="/images/team-member-01.png">
                        </div>
                        <div class="down-content">
                            <h4>Mihiret Assefa</h4>
                            <span>UI/UX Designer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="/images/team-member-01.png">
                        </div>
                        <div class="down-content">
                            <h4>Girum Assefa</h4>
                            <span>Fullstack Engineer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="/images/team-member-01.png">
                        </div>
                        <div class="down-content">
                            <h4>Meron Assefa</h4>
                            <span>AWS Practitioner</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Team Area Ends ***** -->

    <!-- ***** Services Area Starts ***** -->
    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Services</h2>
                        <span>Girum Cultural Cloth Shop provides exquisite cultural attire for men, women, and kids, blending tradition with contemporary style to celebrate diversity and elegance.</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Delivery Services</h4>
                        <p>Enjoy the convenience of having your cultural clothing delivered to your doorstep, ensuring a hassle-free shopping experience.</p>
                        <img src="/images/service-01.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>20% Discount</h4>
                        <p>Take advantage of our ongoing discount to save on your favorite cultural garments, making it easier to embrace style and tradition.</p>
                        <img src="/images/service-02.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Digital Payment System</h4>
                        <p>Simplify your transactions with our secure digital payment system, allowing you to shop confidently and conveniently online or in-store.</p>
                        <img src="/images/service-03.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Services Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>Copyright © <%= new Date().getFullYear() %> GirumShop Co., Ltd. All Rights Reserved. </p>
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/jquery-2.1.0.min.js"></script>
    <!-- Bootstrap-->
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins -->
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/accordions.js"></script>
    <script src="/js/datepicker.js"></script>
    <script src="/js/scrollreveal.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/imgfix.min.js"></script> 
    <script src="/js/slick.js"></script> 
    <script src="/js/lightbox.js"></script> 
    <script src="/js/isotope.js"></script> 
    <!-- Global Init -->
    <script src="/js/custom.js"></script>

    <script>
        $(function() {
            var selectedClass = "";
            $("p").click(function(){
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
                setTimeout(function() {
                    $("."+selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);   
            });
        });
    </script>
</body>
</html>
